form{
    max-width: 1200px;
    border: 1px solid gray;
    margin: 0 auto;
}
.sor{
    /*border: 1px solid red;*/
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
fieldset{
    flex: 1;
    display: flex;
    flex-direction: column;
    /*gap: 1rem;*/
}
.form-group{
    display: flex;
   /* border: 1px solid green;*/
   margin-bottom: 5px;
    
}
.form-group input{
    flex: 2;
}
.form-group label{
    flex: 1;
}
label{
    display: flex;
    flex-direction: column;
}
input[type="submit"]{
margin: 10px auto;

}

    
