.level{
    border: 1px solid rgb(212, 26, 26);
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
position: relative;
}
#email, button{
    display:block ;
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    margin-bottom: 5px;
}
#term{
    position: relative;
    top: 2px;
}
#close{
    position:absolute;
    top: 10px;
    right:10px;
}
.qmark{
    background-color: aqua;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.a{
    height: 800px;
    border: 1px solid blac;
    
}